/* start media queres  */

/* start small screen */
@media screen and (max-width:576px) {
    .employeeData {
        margin-top: 50px;
        display: flex;
        justify-content: center;

    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* end small screen */
/* start medium screen */
@media screen and (min-width:577px) and (max-width:768px) {
    .employeeData {
        margin-top: 50px;
        display: flex;
        justify-content: center;

    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* end medium screen */
/* start large screen */
@media screen and (min-width:769px) and (max-width:992px) {}

/* end large screen */
/* start extra large screen */
@media screen and (min-width:993px) and (max-width:1200px) {}

/* end axtra large screen */
/* start extra extra large screen */
@media screen and (min-width:1201px) and (max-width:1400px) {}

/* end extra extra large screen */

/* end media queres*/