nav{
position: sticky;
    .nav-link {
        margin-top: 10px;
        &:hover {
            background-color: #3f89c2 !important;
            color: white !important;
            border-radius: 5px;
        }
    }
}

.example-form {
    min-width: 1px;
    max-width: 300px;
    width: 100%;
}

.example-full-width {
    width: 75%;
}